.benefit {
}
.benefit__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	color: var(--text-card-dark-blue);
}
.benefit__text {
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.85; /* 29.6px */
	opacity: 0.8;
}
