:root {
	--text-color: #1e1e1e;
	--text-muted: #8d8d8d;
	--text-card-dark-blue: #0d1b39;
	--accent: #e58411;

	--header-text-color: #ffffff;

	--footer-accent: #f6973f;
	--footer-bg: #2d2f33;
	--footer-text-color: rgba(255, 255, 255, 0.8);

	--ui-orange: #e58411;
	--ui-brusa: #00d6c9;
	--ui-gray: #7c7c7c;
	--ui-dark-blue: #0d1b39;

	--font-main: 'Gilroy', sans-serif;
	--font-cards: 'Inter', sans-serif;
	--font-footer-accent: 'DM Sans', sans-serif;
}

@mixin retina-bg($image) {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: $image;
	}
}

@mixin desktop-small() {
	@media (max-width: 1400px) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: 992px) {
		@content;
	}
}

@mixin mobil-xl() {
	@media (max-width: 819px) {
		@content;
	}
}

@mixin mobil() {
	@media (max-width: 629px) {
		@content;
	}
}

@mixin mobil-xs() {
	@media (max-width: 430px) {
		@content;
	}
}
